<div class="subpanel_title">Please sign in</div>
<br/>
<div class="data_entry_field">
    <div class="field_title">Username or email</div>
    <div class="field_entry">
        <input name="new_user_field" id="existing_username" class="form-control" autofocus/>
    </div>
</div>

<div class="data_entry_field">
    <div class="field_title">Password</div>
    <div class="field_entry">
        <input name="new_user_field" id="existing_password" type="password" class="form-control"/>
    </div>
</div>
<div class="data_entry_error">
    <span id="login_error_message">&nbsp;</span>
</div>
<div class="data_entry_submit">
    <button id="submit_login" class="btn btn-primary btn-full" onclick="checkLogin()">Submit</button>
</div>
