<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Topaz Login</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/Stylesheets/login.css" rel="stylesheet">
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/Views/login.js"></script>
</head>
<body>
@RenderBody()
</body>
</html>